body {
    background-color: #99ccff;
    text-align: center;
}

.centrar {
    text-align: center;
    width: 100%;
}

.multiple-items {
    display: inline-block;
    width: 50%;
}

.slick-slide img {
    display: inline-block !important;
}

.players {
    width: 268px;
    height: 25px;
    background: yellow;
    display: inline-block;
    text-align: center;
}
